[Unit]
Description=DAW Device
After=network-online.target
Requires=gesture.service

[Service]
ExecStart=/usr/bin/sleep 5 && /bin/bash /home/gsmuga3/workdir/github/DAW-DEV/service/service
WorkingDirectory=/home/gsmuga3/workdir/github/DAW-DEV/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=gsmuga3

[Install]
WantedBy=multi-user.target

