[Unit]
Description=DAW Device - Gesture Detector
After=network-online.target

[Service]
ExecStart=/bin/bash /home/gsmuga3/workdir/github/DAW-DEV/service/gestures
WorkingDirectory=/home/gsmuga3/workdir/github/DAW-DEV/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=gsmuga3

[Install]
WantedBy=multi-user.target
